* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  transition: transform 0.3s ease;
}

body.show-nav {
  transform: translateX(200px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  color: #fff;
  background-color: #334252;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0px;
  text-align: center;
}

.logo img {
  width: 100px;
  height: 100px;
  border: 3px solid #f75940;
  border-radius: 50%;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  padding: 15px;
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
}

.nav-item:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

.nav-item a {
  color: #f75940;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.header {
  position: relative;
  padding: 40px 15px;
  font-size: 130%;
  color: #fff;
  text-align: center;
  background-color: #334252;
}

.header .title {
  margin: 0;
  font-family: inherit;
  font-size: 45px;
}

h2, h3 {
  font-family: inherit;
}

.header p {
  margin: 30px 0;
} 

.btn {
  padding: 12px 16px;
  font-weight: bold;
  color: #fff;
  background-color: #f75940;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: none; 
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #f75940;
  background-color: #334252;
  border: 2px solid #f75940;
  outline: none;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.cta-btn {
  font-size: 16px;
  line-height: 16px;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container.show-modal {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  color: #f75940;
  background-color: #334252;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header {
  padding: 15px;
  background-color: #102E37;
}

.modal-header h3{
  margin: 0;
}

.modal-content {
  padding: 15px;
}

.form-control{
  position: relative;
  margin: 30px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.modal-form .form-input {
  width: 100%;
  padding: 15px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
  border-radius: 5px;
}

.modal-form .form-input:hover,
.modal-form .form-input:focus {
  border: 2px solid #f75940;
  outline: none;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #e74c3c;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 25px;
  color: #f75940;
  background-color: transparent;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}